body {
  background-color: #C7C7C7;
}

.clock-body {
  text-align: center;


  p {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    color: #D99BEE;
  }

}